img { 
    display: block; margin: 0 auto; 
} 

h1 {
    text-align: center;
    color: white;
}

body {
    background-color: #444444;
    border: 2px solid #808080;
}

nav {
    padding: 10px;
    text-align: center;
}

#about {
    color: white;
    text-decoration: none;
}

#resume {
    color: green;
}

section {
    text-align: center;
    color: white;
    padding: 0 20px 10px 0;
    line-height: 1.5;
    font-size: 14px;
}

footer a {
    color: green;
}